table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    font-family: monospace;
}

th {
    text-align: left;
    padding: 0.5rem;
    border-bottom: 1px solid var(--color-surface-alt);
    border-right: 1px solid var(--color-surface-alt);
    border-left: 1px solid var(--color-surface-alt);
    background-color: var(--color-surface);
}

td {
    padding: 0.5rem;
    border-bottom: 1px solid var(--color-surface-alt);
    border-right: 1px solid var(--color-surface-alt);
    border-left: 1px solid var(--color-surface-alt);
    white-space: pre;
}

td:not(:last-child),
th:not(:last-child) {
    width: 1%;
    white-space: nowrap;
}

td:last-child,
th:last-child {
    width: auto;
    white-space: normal;
}

/* Row colors by log level */
.error {
    color: var(--color-error);
    border-left: 3px solid var(--color-error);
}

.warn {
    color: var(--color-warn);
    border-left: 3px solid var(--color-warn);
}

.info {
    color: var(--color-info);
    border-left: 3px solid var(--color-info);
}

.debug {
    color: var(--color-debug);
    border-left: 3px solid var(--color-debug);
}

tbody tr:nth-child(even) {
    background-color: var(--color-surface);
}

.row-expanded {
    border-left: 3px solid transparent;
}