name: Nightly Build & Deploy

on:
  schedule:
    - cron: '0 2 * * *'
  workflow_dispatch:

jobs:
  nightly:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release

      - name: Test
        run: dotnet test --configuration Release

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Frontend Dependencies
        working-directory: src/LogPort.UI
        run: npm ci

      - name: Build Frontend
        working-directory: src/LogPort.UI
        run: npm run build

      - name: Install GitVersion
        uses: GitTools/actions/gitversion/setup@v0
        with:
          versionSpec: '5.12.0'

      - name: Run GitVersion
        id: gitversion
        uses: GitTools/actions/gitversion/execute@v0

      - name: Set Nightly Image Tag
        run: |
          CLEAN_TAG=$(echo "${{ steps.gitversion.outputs.fullSemVer }}" | cut -d'+' -f1)
          echo "IMAGE_TAG=nightly" >> $GITHUB_ENV
          echo "CLEAN_TAG=$CLEAN_TAG" >> $GITHUB_ENV

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build and push Nightly Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./src/LogPort.Agent/Dockerfile
          push: true
          tags: |
            thiagomvas/logport:nightly
            thiagomvas/logport:${{ env.CLEAN_TAG }}
