name: Docker Build & Push

on:
  push:
    branches:
      - dev        
    tags:
      - '*'        

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_PASSWORD }}

    - name: Set image tag
      id: vars
      run: |
        if [[ "${GITHUB_REF_TYPE}" == "tag" ]]; then
          echo "IMAGE_TAG=${GITHUB_REF_NAME}" >> $GITHUB_ENV
        else
          echo "IMAGE_TAG=nightly" >> $GITHUB_ENV
        fi

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: ./src          
        file: ./src/LogPort.Agent/Dockerfile
        push: true
        tags: yourdockerhubusername/yourimage:${{ env.IMAGE_TAG }}

