name: Deploy Release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'
      
      - name: Determine Release Version
        run: |
          CLEAN_VERSION="${GITHUB_REF##*/}"  # Remove 'refs/tags/' prefix
          
          if [[ "${CLEAN_VERSION}" == *"beta"* ]]; then
            IMAGE_TAG="beta"
            PUSH_CLEAN_VERSION="false"
          else
            IMAGE_TAG="latest"
            PUSH_CLEAN_VERSION="true"
          fi

          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
          echo "CLEAN_VERSION=$CLEAN_VERSION" >> $GITHUB_ENV
          echo "PUSH_CLEAN_VERSION=$PUSH_CLEAN_VERSION" >> $GITHUB_ENV
          echo "Determined release tag: $CLEAN_VERSION"

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release

      - name: Test
        run: dotnet test --configuration Release

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Frontend Dependencies
        working-directory: src/LogPort.UI
        run: npm ci

      - name: Build Frontend
        working-directory: src/LogPort.UI
        run: npm run build

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./src/LogPort.Agent/Dockerfile
          push: true
          tags: |
            thiagomvas/logport:${{ env.IMAGE_TAG }}

      - name: "Push ${{ env.CLEAN_VERSION }} tag to Docker Hub"
        if: ${{ env.PUSH_CLEAN_VERSION == 'true' }}
        run: |
          docker tag thiagomvas/logport:${{ env.IMAGE_TAG }} thiagomvas/logport:${{ env.CLEAN_VERSION }}
          docker push thiagomvas/logport:${{ env.CLEAN_VERSION }}
